extends header

block content

  .py-5
    .container
      #user
        if user                        
              .row
              #procedure
              if procedure
                h3 Follow this procedure:                            
              br
              .row              
              #instruction
              if instruction
                h5 Step 0: Select a calendar if you have not selected it yet              
              br
              .row              
              #clean
                if clean
                  form(method='delete' action='/demo/clean')
                    .form-group
                      h5 Step 1: Clean the envoirment using this button
                      .row                    
                      button.btn.btn-info(type='submit') Clean                                    
                  .row
                  br                            
              #merge
                if merge
                  form(method='put' action='/demo/set')
                    .form-group
                      h5 Step 2: Merge the events with the freerooms
                      .row                    
                      button.btn.btn-info(type='submit') Merge                                    
                  .row
                  br              
              #get
                if get
                  form(method='get' action='/demo/result')
                    .form-group
                      h5 Step 3: Show the result
                      .row                    
                      button.btn.btn-info(type='submit') Show                                    
                  .row
                  br              
              #result
                if result
                  .row
                  h3 Result 
                  .row
                  br  
                  #planning
                  if (planning)
                    each event in planning                  
                      h6 Date: #{event.date}                      
                      h6 Programmed day:
                      
                      table(style='width:20%', border='1').fixed  
                        tr(align='center')
                          th Time slot
                          th Free rooms
                          th Event programmed   
                        each slot in event.slot_day
                          tr(align='center')                          
                            th [#{slot.start_slot} - #{slot.end_slot}]                        
                            th #{slot.freeRooms}                                                    
                            th #{slot.event}                      
                  else
                    h7 {null}                                  
        else
          .row
            .col-md-5
              h4 Login with Google+ to use the service